@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ropa Sans', sans-serif;
    color: #777;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.new-button {
    background: #51D275;
}

.sale-button {
    background: #DC9730;
}

/* header */

header.principal{
    box-shadow: 0 8px 10px -3px rgba(119, 119, 119, .8);

    /* menu fixo */
    position: sticky;
    top: 0;
    background: #fff;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1, h2 {
    display: inline-block;
    font-size: 30px;
}

h2 {
    font-size: 10px;
}

/* banner */

section.banner {
    width: 100%;
    margin-top: 20px;

    height: calc(100vh - 186px);
    background-image: url(../img/slider-image.png);
    background-size: cover;
    background-position: center;
}

/* anuncio */

section.anuncio {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 40px;
}

section.anuncio article {
    width: calc(50% - 90px);
    background: #eee;
}

section.anuncio article header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.anuncio article h2 {
    font-size: 25px;
    font-weight: 400;
    line-height: 27px;
    color: #888888;
}

section.anuncio article button {
    border: none;

    width: 56px;
    height: 21px;
    border-radius: 10.5px;

    font-size: 20px;
    line-height: 21px;
    color: #fff;

    cursor: pointer;
}

section.anuncio img {
    width: 100%;
}

/* style */

section.style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 60px 0;
}

section.style h2 {
    font-weight: normal;
    font-size: 25px;
    line-height: 27px;
}

section.style article#industrial {
    background-image: url(../img/industrial.png);
    background-size: cover;
    background-position: center;
}

section.style article#modern {
    background-image: url(../img/modern.png);
    background-size: cover;
    background-position: center;
}

section.style article#classic {
    background-image: url(../img/classic.png);
    background-size: cover;
    background-position: center;
    /* background: rgba(196, 196, 196, 0.1); */
}

section.style article {
    display: inline-block;

    width: 100%;
    height: 120px;

    margin-bottom: 15px;
}

section.style h3 {
    text-align: center;

    padding: 20px;

    font-weight: normal;
    font-size: 25px;
    line-height: 27px;

    color: #FFFFFF;

    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

/* footer */

footer {
    background: #333;

    padding: 20px 0;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .container p {
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    text-align: justify;

    color: #FFFFFF;
}

footer .container .sociais {
    margin: 0 auto;
}

footer .container .sociais p {
    text-transform: uppercase;
}

footer .container ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer .container ul li {
    list-style: none;
}