@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

* {
    box-sizing: border-box; /* para respeitar o tamanho do elemento mesmo com padding */
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Ropa Sans', sans-serif;
    color: #777;
}

.container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

.new-button {
    background: #51D275;
}

.sale-button {
    background: #DC9730;
}

/* header */

header.principal{
    box-shadow: 0 8px 10px -3px rgba(119, 119, 119, .8);

    /* menu fixo */
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1, h2 {
    display: inline-block;
    font-size: 30px;
}

h2 {
    font-size: 10px;
    color: #aaa;
}

/* banner */

section.banner .carousel>img {
    width: 100%;
}

section.banner .carousel {
    margin: 50px 0;
    position: relative;
}

section.banner .carousel .controls {
    /* background-color: rgba(168, 77, 77, 0.25); */
    position: absolute; /* flutuando em relação ao positivo relative do carousel */
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.banner .carousel .controls button {
    background-color: rgba(170, 170, 170, 0.8);
    border: none;
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: 5px;

    cursor: pointer;
}

section.banner .carousel .controls button img {
    width: 20px;
}

/* anuncio */

section.anuncio .container.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 15px;
    margin-top: 40px;
}

section.anuncio article {
    width: 350px;
    background: #eee;
}

section.anuncio article header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.anuncio article h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 27px;
    color: #888888;
}

section.anuncio article button {
    border: none;
    padding: 10px 10px;

    font-family: 'Ropa Sans', sans-serif;
    text-transform: uppercase;

    border-radius: 30px;

    font-size: 30px;
    line-height: 21px;
    color: #fff;

    cursor: pointer;
}

section.anuncio img {
    width: 100%;
}

/* style */

section.style {
    margin: 60px 0;
}

section.style .container.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.style h2 {
    font-weight: normal;
    font-size: 25px;
    line-height: 27px;

    align-self: center;
}

section.style article {
    display: inline-block;

    width: 100%;
    height: 120px;

    margin-bottom: 15px;
    position: relative;

    background-size: cover;
    background-repeat: no-repeat;
}

section.style h3 {
    text-align: center;

    padding-top: 50px;
    margin: 0;

    font-weight: normal;
    font-size: 25px;
    line-height: 27px;

    color: #FFFFFF;

    /* sobra texto para dar destaque */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);

    /* overlay */
    background-color: rgba(196, 196, 196, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* footer */

footer {
    background: #333;
    color: #FFF;

    padding: 50px 0;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .container .mapa iframe {
    height: 250px;
    border-radius: 19px;
}

footer a {
    color: #fff;
}

footer .container p {
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    text-align: justify;
}

footer .container .sociais {
    margin: 0 auto;
}

footer .container .sociais p {
    text-transform: uppercase;
}

footer .container ul {
    list-style: none;
    display: flex;
    
    padding: 0;
}

footer .sociais img {
    width: 30px;
    margin: 0 10px 10px 0;
}

/* media query */

@media (max-width: 769px) {
    footer .container {
        flex-wrap: wrap;
        padding: 0 50px;
        justify-content: center;
    }

    footer .container .mapa iframe {
        max-width: 100%;
    }

    /* section.anuncio article {
        margin: 10px;
    } */

    .container {
        padding: 0 15px;
    }

    section.banner .carousel .controls button {
        width: 50px;
        height: 50px;
    }

    section.banner .carousel .controls button img {
        width: 15px;
    }
}

@media (max-width: 744px) {
    section.anuncio .container.flex {
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .container {
        flex-wrap: wrap;
        gap: 15px;
    }
}

@media (max-width: 545px) {
    section.anuncio .container.flex {
        flex-wrap: wrap;
    }

    section.anuncio .container.flex article {
        width: 100%;
    }
}